/*HEADER*/

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.header {
  /* text-align: center; */
  /* height: 10em; */
  padding: 0 5%;
  display: block;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  /* padding: 0 27%; */
}

h2 {
  font-weight: 300;
}

h2,
p {
  color: darkgray;
  font-size: 13px;
}

body {
  height: 100%;
}

/* SECTION  */

.grid:not(:last-child) {
  margin-bottom: 1.3rem;
}

.grid {
  display: grid;
  column-gap: 10rem;
  row-gap: 1.6rem;
}

.container {
  max-width: 120rem;
  padding: 0 12rem;
  margin: 0px auto;
  text-align: center;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.feauture-title {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.feature-text {
  font-size: 0.75rem;
  line-height: 1.7;
  font-weight: 300;
}

@media (max-width: 1280px) {
  .container {
    padding: calc(20px + (50 - 20) * ((100vw -320px) / (1200 - 320)));
  }
}
