/*HEADER*/

.header {
  text-align: center;
  height: 10em;
  padding: 0 5%;
  display: block;
}

h1 {
  font-size: 36px;
  padding: 0 27%;
}

h2,
p {
  color: darkgray;
  font-size: 15px;
}

body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

/* SECTION  */

.grid:not(:last-child) {
  margin-bottom: 5.3rem;
}
.grid {
  display: grid;
  column-gap: 3.4rem;
  row-gap: 4.6rem;
}

.container {
  max-width: 120rem;
  padding: 0 8rem;
  margin: 0px auto;
  text-align: center;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.feautre-title {
  font-size: 1.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1rem;
}

.feature-text {
  font-size: 1.1rem;
  line-height: 1.7;
}

@media (max-width: 1200px) {
  .container {
    padding: calc(20px + (50 - 20) * ((100vw -320px) / (1200 - 320)));
  }
  .header {
    font-size: calc(20px + (30 - 20) * ((100vw -320px) / (1200 - 320)));
    margin-bottom: calc(10px + (20 - 10) * ((100vw -320px) / (1200 - 320)));
  }
}
