* *::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*HEADER*/

a {
  text-decoration: none;
}

.header {
  text-align: center;
  height: 10em;
  padding: 0 5%;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  padding-left: 11em;
  padding-right: 11em;
}

h3 {
  font-weight: bold;
  font-size: 16px;
}

h2,
p {
  color: darkgray;
  font-size: 16px;
}
body {
  height: 100%;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  min-height: 100%;
}

/* SECTION  */

.product-description {
}

.feautered-products-carousel {
}

.grid-col {
}

.icon {
}

.medium-title--icon {
}
